* {
    margin: 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

input {
    width: 232px;
    height: 25px;
    margin-bottom: 4px;
    outline: none;
    border: none;
    border-radius: 20px;
    border-color: #F3F4F6;
    background-color: #F3F4F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background: url(loupe.svg) no-repeat;background-position: 10px;*/
}

.cart-button {
    margin-left: 5px;
    border: 0;
    background-color: transparent;
}

.cart-button:hover {
    background: #ffffff;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #284664;
}

.hero-right-container {
    background-image: url(../images/ellipses.png);
    height: 612px;
    width: 730px;
    display: flex;
    margin-left: 64px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 40px;
    color: #284664;
}

.hero-right-container h2 {
    max-width: 60%;
}

h3 {
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    bottom: 250px;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-size: 50px;
    font-weight: 500;
    line-height: 54px;
}

h1 {
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    font-weight: 1px;
    line-height: 67px;
}

.main-container {
    display: flex;
    margin-top: 70px;
}

.main-image {
    display: flex;
    margin-left: 100px;
}

.image-group {
    margin-top: 66px;
    display: flex;
}

.main-paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #32305F;
    max-width: 78%;
}

.main-text-a {
    font-weight: bold;
}

.main-button-first {
    position: absolute;
    background-color: transparent;
    color: #32305F;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: 110px;
    left: 250px;
    top: 1120px;
    font-weight: bold;
}

.main-button-first {
    position: absolute;
    background-color: transparent;
    color: #32305F;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: 110px;
    left: 255px;
    top: 1120px;
    font-weight: bold;
}

.main-button-second {
    position: absolute;
    background-color: transparent;
    color: #32305F;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: 110px;
    left: 440px;
    top: 1120px;
    font-weight: bold;
}

.main-button-third {
    position: absolute;
    background-color: transparent;
    color: #32305F;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: 110px;
    left: 650px;
    top: 1120px;
    font-weight: bold;
}

.main-button-shop-now {
    position: absolute;
    font-family: Montserrat;
    background-color: transparent;
    color: #32305F;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-left: 110px;
    left: 1100px;
    top: 860px;
    font-weight: bold;
}

.footer-container {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.footer-image {
    display: flex;
    margin-bottom: 100px;
    margin-left: 100px;
    text-align: center;
}

.footer-all {
    display: flex;
    margin-left: 15px;
    /*position:absolute;*/
    margin-bottom: 65px;
}

.footer-email-information {
    margin-left: 50px;
}

.footer-links-social-media {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: space-between;
}