* {
    margin: 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.search {
    width: 232px;
    height: 25px;
    margin-bottom: 4px;
    outline: none;
    border: none;
    border-radius: 20px;
    border-color: #F3F4F6;
    background-color: #F3F4F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background: url(loupe.svg) no-repeat;background-position: 10px;*/
}

.cart-button {
    margin-left: 5px;
    border: 0;
    background-color: transparent;
}

.cart-button:hover {
    background: #ffffff;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #284664;
}

.hero-right-container {
    background-image: url(../images/ellipses.png);
    height: 612px;
    width: 730px;
    display: flex;
    margin-left: 64px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 40px;
    color: #284664;
}

.hero-right-container h2 {
    max-width: 60%;
}

h3 {
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    bottom: 250px;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-size: 50px;
    font-weight: 500;
    line-height: 54px;
}

h1 {
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    font-weight: 1px;
    line-height: 67px;
}

.main-container {
    display: flex;
    margin-top: 70px;
}

.main-image {
    display: flex;
    margin-left: 100px;
}

.image-group {
    margin-top: 66px;
    display: flex;
}

.main-paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    max-width: 78%;
    color: #32305F;
}

.main-text-a {
    font-weight: bold;
}

.image-group button {
    display: flex;
    position: absolute;
    top: 1120px;
    margin-left: 110px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #32305F;
}

.main-button-first {
    left: 255px;
}

.main-button-second {
    left: 440px;
}

.main-button-third {
    left: 650px;
}

.main-button-shop-now {
    display: flex;
    position: absolute;
    left: 1200px;
    top: 860px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #32305F;
}

.footer-container {
    display: flex;
    margin-top: 100px;
}

.all-footer-elements {
    display: flex;
    margin-top: 56px;
    margin-bottom: 65px;
    justify-content: space-between;
}

.footer-image-second {
    margin-left: 20px;
}

.footer-image-third {
    margin-left: 20px;
}

.footer-images {
    display: flex;
    margin-bottom: 100px;
    margin-left: 100px;
    align-items: center;
}

.footer-arrow-button {
    display: flex;
    position: absolute;
    top: 1840px;
    margin-left: 40px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    justify-content: space-between;
    color: #32305F;
}

.footer-left-arrow {
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    justify-content: space-between;
    color: #32305F;
}

.footer-right-arrow {
    border: none;
    cursor: pointer;
    margin-left: 590px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    justify-content: space-between;
    color: #32305F;
}

.footer-text-over-input {
    width: 549px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #4C4973;
}

.fo-search {
    width: 350px;
    height: 40px;
    margin-left: 200px;
    border: 3px solid #EEDBDC;
    border-radius: 70px;
    outline: none;
    font-size: 18px;
    background-color: transparent;
}

.footer-send-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid #EEDBDC;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: #32305F;
}

.footer-see-offers-button {
    margin-left: 470px;
    margin-top: 200px;
    cursor: pointer;
    border: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: #32305F;
}

.footer-about-social-media-text {
    width: 549px;
    height: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #4C4973;
}

.footer-send-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links-social-media {
    display: flex;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: space-between;
}

.footer-zays {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
    color: #B1B0B0;
}